  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

  /*@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
  }*/

  *{
    font-family:"Poppins";
    border-radius: 5px;
    border: solid 0px transparent;
  }

  body {
    background-color: #d9d9d9;
  }

  input {
    height: 2em;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  button {
    height: 3em;
    margin-bottom: 10px;
    color: #7d7d7d;
    font-size: 1.05em;
    font-weight: 600;
    background-color: #c3ffb4;
  }

  .secondary {
    height: 1.9em;
    width: 15em;
    font-size: 0.75em;
    font-weight: 600;
    color: #DADADA;
    background-color: #959595;
  }

  .conteiner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      height: 80vh;
      width: 35%;
      margin: auto;
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  div.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8em;
    margin-bottom: 15px;
  }

  .icon img {
    width: 7em;
  }