<div id="dialog" class="show background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3> Editar Cadastro do Médico </h3>
            <a onclick="closeDialog('dialog')">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <table class="form">
                <tr trigger="cancel" class="editing">
                    <td data-th="Nome"><input name="nome" value="{nome}"></td>
                    <td data-th="Especialidade">
                        <select id="especialidade" name="especialidade" required>
                            <option value="" selected hidden>Selecione a especialidade</option>
                            <option value="psicologo">Psicólogo</option>
                            <option value="psiquiatra">Psiquiatra</option>
                            <option value="psicanalista">Psicanalista</option>
                        </select>
                    </td>
                    <td data-th="Telefone"><input name="telefone" value="{telefone}"></td>
                    <td data-th="CRM"><input name="crm" value="{crm}"></td>
                    <td data-th="CPF"><input name="cpf" value="{cpf}"></td>
                    <td data-th="RG"><input name="rg" value="{rg}"></td>
                    <td data-th="Data nascimento"><input name="dt_nasc" value="{dt_nasc}"></td>
                    <td data-th="Sexo">
                        <select id="sexo" name="sexo" required>
                            <option value="" selected hidden>Selecione o Sexo</option>
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                            <option value="outro">Outro</option>
                        </select>
                    </td>
                    <td data-th="E-mail"><input name="email" value="{email}"></td>
                </td>
                <td data-th="UF"><input name="uf" value="{uf}"></td>
                <td data-th="Cidade"><input name="cidade" value="{cidade}"></td>
                <td data-th="Endereço"><input name="logradouro" value="{logradouro}"></td>
                <td data-th="CEP"><input name="cep" value="{cep}"></td>
                <td data-th="Turno">
                    <select id="turno" name="turno">
                        <option value="diurno">Diurno</option>
                        <option value="noturno">Noturno</option>
                        <option value="vespertino">Vespertino</option>
                    </select>
                <td data-th="Situação">
                        <select id="status" name="status">
                            <!-- <option value="" disabled hidden>Selecione</option> -->
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </td>

                    <script>defaultOption('especialidade', '{especialidade}')</script>
                    <script>defaultOption('sexo', '{sexo}')</script>
                    <script>defaultOption('turno', '{turno}')</script>
                    <script>defaultOption('status', '{status}')</script>
                </tr>
            </table>
        </section>
        <div class="buttons">
            <a class="button secondary" onclick="closeDialog('dialog')">
                Cancelar
            </a>
            <a class="button" onclick="closeDialog('dialog')" hx-trigger="click" hx-include="#dialog"
                hx-put="/api/medicos/{id}" hx-target="#slot_lista" hx-swap="innerHTML"
                mustache-array-template="medicos-template">
                Salvar
            </a>
        </div>
    </div>
</div>