<style>
    table {
        width: 100%;
    }

    table thead tr th {
        color: green;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CRM</th>
            <th>Especialidade</th>
            <th>Turno</th>
            <th>Situação</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        {% for i in dados %}
        <tr>
            {% for k,v in i.items() %}
            <td>{{v}}</td>
            {% endfor %}
            <td class="icon">
                <i class="fa fa-pencil"></i>
            </td>
            <td class="icon">
                <a hx-delete="/api/pacientes/1">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>